/* Commented out this code, which was written in class, to keep it for reference

* {
  font-weight: normal;
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
  font-size: 10px;
}*/

body {
  background-color: orange
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

li {
  text-align: center;
}

ol {
  text-align: center;
}
