/* Commented out this code, which was written in class, to keep it for reference

* {
  font-weight: normal;
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
  font-size: 10px;
}*/

/** {
  border: 1px solid black;
  /*padding: 0px;
  margin: 0px;*/

body {
  background-color: #E6E2AF;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

#profilepicture {
  display: block;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 15%;
  height: 15%;
  border-left: double;
  border-top: dashed;
  border-width: 10px 6px;
  border-radius: 40% 0%;

}

#siteSize {
  width: 85%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

li {
  text-align: center;
}

ol {
  width: 20%;
  margin: auto;
}

ul {
  width: 20%;
  margin: auto;
}
